{% extends "templates/web.html" %}

{%- block title -%}{{_("Not Found")}}{%- endblock -%}

{% block page_content %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
	window.is_404 = true;
</script>

<div class="error-page">
	<img class="img-404"  style ="height: 280px;width: 280px;" src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg?format=500w" />
	<div>
		<h2 class="mb-1 mt-4">
			{{ _("AWWW...DON’T CRY.") }}
		</h2>
		<div class="text-muted error-text">
			{{ _("It's just a 404 Error! ") }}<br>
        {{_("What you’re looking for may have been misplaced in Long Term Memory.")}}
		</div>
		<div class="mt-6 back-to-home"><a href='/' class='btn btn-primary'>{{ _("Back to Home") }}</a></div>
	</div>
</div>

{% endblock %}